@{
    Layout = null;
}
<!DOCTYPE html>
<script src="~/Styles/Scripts/jquery-3.1.1.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New</title>
    <link href="~/Styles/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    Mã hàng hóa
                </td>
                <td>
                    <input type="text" id="barcode_0" placeholder="Mã hàng tự động" />
                </td>
            </tr>
            <tr>
                <td>
                    Tên hàng
                </td>
                <td>
                    <input type="text" id="product_name" />
                </td>
            </tr>
            <tr>
                <td>
                    Nhóm hàng
                </td>
                <td>
                    <select id="category_id">
                        <option value="1">Rượu</option>
                        <option value="2">Bia</option>
                        <option value="3">Bánh</option>
                        <option value="4">Kẹo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Giá vốn
                </td>
                <td>
                    <input type="text" id="original_price" />
                </td>
            </tr>
            <tr>
                <td>
                    Giá bán
                </td>
                <td>
                    <input type="text" id="sell_price_0" />
                </td>
            </tr>
            <tr>
                <td>
                    Tồn kho
                </td>
                <td>
                    <input type="text" id="quantity" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <table id="unit_table">
                        <tr>
                            <td>Đơn vị cơ bản</td>
                            <td>
                                <input type="text" id="unit_name_0" />
                                <input type="text" id="quantitiesPerUnit_0" value="1" hidden />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button onclick="addUnit();">Thêm đơn vị</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Định mức tồn</td>
            </tr>
            <tr>
                <td>Ít nhất</td>
                <td>
                    <input type="text" value="0" id="quota_min" />
                </td>
                <td>Nhiều nhất</td>
                <td>
                    <input type="text" value="999999999" id="quota_max" />
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="createNewProduct();">Lưu</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
